.font {
  color: #6a6e73;
  font-family: RedHatText;
  font-size: 14px;
  line-height: 18.2px;
  text-align: left;
}

.fontCategory {
    color: #151515;
    font-family: RedHatText;
    font-size: 14px;
    line-height: 18.2px;
    text-align: left;
  }