.font {
  color: #6a6e73;
  font-family: RedHatText;
  font-size: 14px;
  line-height: 18.2px;
  text-align: left;
  font-weight: bold;
}

.fontCategory {
  color: #151515;
  font-family: RedHatText;
  font-size: 14px;
  line-height: 18.2px;
  text-align: left;
  font-weight: bold;
}

.iconColor {
  background-color: #151515;
  width: 24px;
  height: 24px;
}
